
<div class="row text-center">
    <h2>Tu Empleado Perfecto</h2>
</div>
<div class="row">
    <div class="col">
        <div class="row">
            <button type="button" class="btn btn-primary" (click)="loadListOfCompanys(item)">Lista Empresas</button>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <p>menu principal</p>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <p>menu principal</p>
        </div>
    </div>
</div>


