<div class="row">
  <div class="col-xs-1-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Formulario de creación de Empresa</h3>
        </div>
        <form class="card-body" [formGroup]="form" (ngSubmit)="onSubmit(form)">
            <div class="row mb-2">
                <div class="col-md-1">Nombre: </div>
                <div class="col-md-11"><input class="form-control" type="text" name="" id=""></div>
            </div>
        </form>
    </div>
  </div>
</div>
